* {
    margin: 0;
}

@keyframes text-appear {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    color: white;
    background-color: rgba(0, 0, 0, 0.833);
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    gap: 15px;
}

.navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.sicon i {
    font-size: 20px;
    padding: 5px;
}

.sicon i:hover {
    transition: 0.3s;
    transform: scale(1.2);
    color: peachpuff;
}

.hero {
    display: flex;
    padding: 60px;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    animation: text-appear 1s ease-in;
}

.hero_text h1 {
    font-size: 40px;
}

.hero_text p {
    margin: 15px 0;
    font-size: 18px;
}

.hero_text button {
    margin: 10px 20px;
    padding: 7px 12px;
    border-radius: 15px;
    background-color: rgb(181, 180, 180);
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.774), -2px -2px 8px rgba(218, 212, 212, 0.865);
    animation: ease-in;
}

.hero_text button:hover {
    background-color: peachpuff;
    transform: scale(1.1);
    transition: 0.3s;
}

@keyframes floating {
    0% {
        transform: translate(-10px, 0px);
    }

    15% {
        transform: translate(0px, 10px);
    }

    35% {
        transform: translate(-10px, 0px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(0px, -10px);
    }

    100% {
        transform: translate(-10px, 0px);
    }
}

.hero_img img {
    width: 30vw;
    border-radius: 30px;
    animation: floating 5s ease-in-out infinite;
}

.hero_img img:hover {
    opacity: 1;
}

.about {
    padding: 0px 40px;
    text-align: center;
    animation: text-appear 1s ease-in;
}

.about h2 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

.about p {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
}

.skills {
    animation: fade-in 3s ease-in;
    animation: text-appear 1s ease-in;
}

.skills h2 {
    margin-bottom: 15px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.skill_box {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 100px;
    text-align: center;
    justify-content: center;
    gap: 20px;
}


.skill_box .skill {
    padding: 12px 20px;
    font-weight: bolder;
    border-radius: 20px;
    box-shadow: -2px -2px 4px rgb(195, 195, 195), 2px 2px 4px rgb(135, 134, 134);
}

.skill:hover {
    color: rgb(0, 30, 255);
    transform: scale(1.1);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: inset -2px -2px 4px rgb(195, 195, 195), 2px 2px 4px rgb(135, 134, 134);
}

.contact h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.contact {
    padding: 50px;
    display: flex;
    flex-direction: column;
    animation: text-appear 1s ease-in;
}

.contact form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact input,
.contact textarea {
    width: 20vw;
    padding: 10px;
    margin: 10px;
}

.contact button {
    margin: 10px;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: rgba(245, 180, 59, 0.783);
    border-radius: 20px;
    border: none;
}

.footer p {
    color: white;
    background: #141414;
    padding: 10px;
    text-align: center;
}